# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.Stack and Queue with minimum.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Misha\RiderProjects\Stack and Queue with minimum\.idea\.idea.Stack and Queue with minimum\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
